@model DeviceManagementSystem.Models.User

@{
    ViewData["Title"] = "User Details";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1><i class="fas fa-user"></i> User Details</h1>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
            <i class="fas fa-edit"></i> Edit
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0"><i class="fas fa-info-circle"></i> User Information</h5>
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
                    <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.FullName)</dt>
                    <dd class="col-sm-9">
                        <strong class="text-primary fs-5">@Html.DisplayFor(model => model.FullName)</strong>
                    </dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd class="col-sm-9">
                        <a href="mailto:@Model.Email" class="text-decoration-none">
                            <i class="fas fa-envelope"></i> @Html.DisplayFor(model => model.Email)
                        </a>
                    </dd>

                    <dt class="col-sm-3">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                    <dd class="col-sm-9">
                        <a href="tel:@Model.PhoneNumber" class="text-decoration-none">
                            <i class="fas fa-phone"></i> @Html.DisplayFor(model => model.PhoneNumber)
                        </a>
                    </dd>


                </dl>
            </div>
        </div>


    </div>

    <div class="col-md-4">


        <div class="card mt-3">
            <div class="card-header">
                <h5 class="mb-0"><i class="fas fa-tools"></i> Quick Actions</h5>
            </div>
            <div class="card-body">
                <div class="d-grid gap-2">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
                        <i class="fas fa-edit"></i> Edit User
                    </a>
                    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">
                        <i class="fas fa-trash"></i> Delete User
                    </a>
                </div>
            </div>
        </div>


    </div>
</div> 